.lineChart{ 

}

.pad{
    padding:20px;
}

.area {
  /*fill: rgba(70, 130, 180, 0.1);*/
}

.line {
    fill: none;
    stroke-width: 2px;
    /*shape-rendering: crispEdges;*/

}

.line-info {
    fill: none;
    stroke-width: 1px;
    stroke: gray;
    opacity: 0.35;    
}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 11px;
    fill: #ababab;
    stroke: none;
}

.axis--y path {
  display: none;
}

.axis--x path {
  display: none;
}

.tick line{
  opacity: 0.1;
}

.lineChart{ 

}

.button-circle{
    fill:#2196f3;
}

.legend {
  fill: white;
  font-family: sans-serif;
  font-size: 14px;
  opacity: .75;
}

.legend rect{

}
.legend text{
    fill: gray;
}
.legend circle{

}